@font-face {
  src: url(../../fonts/Inter-Regular.woff2) format('woff2'),
       url(../../Inter/Inter-Regular.woff) format('woff');
  font-family: 'Inter';
}
@font-face {
  src: url(../../fonts/Inter-Bold.woff2) format('woff2'),
       url(../../Inter/Inter-Bold.woff) format('woff');
  font-family: 'Inter';
  font-weight: bold;
}
@font-face {
  src: url(../../fonts/Inter-Black.woff) format('woff2'),
       url(../../Inter/Inter-Black.woff) format('woff');
  font-family: 'Inter';
  font-weight: 900;
}

.page {
  margin: 0 auto;;
  background-color: #2A2C2F;
  color: #ffffff;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}