.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 1.63;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__paragraph {
    margin-top: 24px;
  }

  .place__title:first-of-type {
    margin-top: 32px;
  }
}