@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url();


.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 92px;
  padding-bottom: 24px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}