.footer__list-item {
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__list-item {
    margin-top: 32px;
  }
  .footer__list-item:first-of-type {
    margin-top: 0;
  }
}